body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
}

/*Modificações feitas apenas no header */
#header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    padding-bottom: 0;
    padding-left: 0;
    z-index: 1000;
    height: 80px;
}

/*Quando está maior que 900px */
/*Modificações feitas dentro de <ul> */

#nav ul.opcoes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    position: fixed;
    overflow: auto;
    height: 100%;
    background-color: #333;
    text-align: left;
}

/*Modificações feitas dentro de <ul><li><a> */

#nav ul.opcoes li a, .dropbtn {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/*Modificações feitas quando é ativado <li><a> */


ul.opcoes li a.active {
    background-color: #04AA6D;
}

/*Modificações feitas quando <li><a> está em hover mas não está ativo*/

#nav ul.opcoes li a:hover:not(.active) {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #000000;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*Modificações feitas dentro do div.content */
div.content {
    margin-top: 0px;
    padding-top: 85px;
    height: 1000px;
    margin-left: 100px;
}

/* Quando está entre 500px e 900px */
@media screen and (max-width: 900px) {
    #nav ul.opcoes {
        width: 100%;
        height: auto;
        position: relative;
    }
    /*Modificações feitas dentro <ul><li><a> quando está entre 500px e 900px */
    #nav ul.opcoes li a {
        float: left;
        padding: 15px;
    }
    /*Modificações feitas dentro do div.content quando está entre 500px e 900px */
    div.content {
        margin-left: 0;
        margin-top: 45px;
        margin-left: 10px;

    }
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #333;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

}
/* Quando está abaixo de 500px */
@media screen and (max-width: 500px) {
    /*Modificações feitas dentro <ul><li><a> quando está abaixo de 500px e 900px */
    #nav ul.opcoes li a {
        text-align: center;
        float: none;
    }
    div.content {
        margin-left: 0;
        margin-top: 190px;
        margin-left: 10px;
    }
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #333;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}