body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 95px;
    z-index: 2;
    width: 100%;
    position: fixed;
}
  
li {float: left;}

li:hover {
    background-color: #111;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a.active{
    background-color: #04AA6D;
}

li.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: flex;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 50px;
    padding-top: 85px;
    margin-left: 10px;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

