body{
    background-color: #f0efe7;
}

article{
    border-left-style: solid;
    margin-left: 70px;
    padding-left: 10px;
    background-color: #fcfcfa;
    border-radius: 5px;
    margin: 0 20px 0 20px;
}
aside nav ul {
    margin-bottom: 1.4em;
    margin-left: 0;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
}
aside nav ul a{
    color: black;
    text-decoration: none;
}

aside nav ul a:hover{
    transition: color 0.3s ease;
    color: goldenrod;
}

a.active{
    margin-top: .3em;
    margin-left: auto;
    font-size: 13px;
    font-weight: 400;
}