body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.principal {
    display: grid;
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: repeat(9, 80px);
    gap: 0;
    border: 2px solid #000;
}

.divInterna {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    border: 1px solid #000; 
}

#branca,
.imagemBranca {
    background-color: #f0d9b5;
}

#preta,
.imagemPreta {
    background-color: #b58863; 
}

#externa {
    background-color: #ddd; 
}

.imagemBranca img,
.imagemPreta img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    visibility: hidden; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.imagemBranca:hover img,
.imagemPreta:hover img
{
    visibility: visible; 
    transform: scale(1);
}
